<footer>
    <div>
        <div>
            © 2017 Jürgen Ratzenböck
        </div>
        <div>
            <a href="{{site.email}}" title="Email" target="_blank"><i class="fa fa-envelope"></i></a>&nbsp;
            <a href="{{site.github_account}}" title="Github Account" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
            <a href="{{site.facebook_account}}" title="Facebook Account" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
            <a href="{{site.xing_account}}" title="Xing Account" target="_blank"><i class="fa fa-xing"></i></a>&nbsp;
        </div>
        <div class="clear"></div>
    </div>
</footer>