.about-content {

  section.about {

    h3 {
      font-size: 1.1em;
    }
  }

  img.about-img {
    margin-top: 10px;
    margin-bottom: 0;
  }

  h2 {
    clear: both;
    margin-bottom: 20px;
  }

  ul.contact {
    margin: 10px 0;
    list-style: none;

    li {
      div {
        float: left;
        width: 150px;
      }
    }
    i, a {
      color: #000;
    }
    i {
      font-size: 1.5em;
      display: inline-block;
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
}