header {
  background-color: $header-bg-color;
}

header > div {
  width: $content-width;
  margin: 0 auto;
  padding: $primary-padding 0;
}

div.mission-stmt {
  font-size: 1.5em;
  padding-left: 140px;
  padding-top: 25px;
  min-height: 120px;
  color: #fff;
  font-weight: bold;
}

.pull-left {
  float: left;
}

#header-logo {
  background-image: url($baseurl + "/assets/img/profile.png");
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media (min-width: 767px) {
  #header-logo {
    float: left;
  }
}

@media (max-width: 766px) {
  #header-logo {
    margin: 0 auto;
  }
  h1 {
    display: none;
  }
}