---
layout: default
---

<div class="content-container about-content">
    <h1>About me</h1>
    <img class="about-img" src="/assets/img/about.JPG" alt="About Image Jürgen Ratzenböck">
    <section class="about">
        <h2>Introduction</h2>
        <p>
            My name is Jürgen, I am 25 years old and live in Linz, Austria.
            I am working as a Web Developer at <a href="https://jobs.at" alt="jobs.at Website" target="_blank">jobs.at</a> and author this blog.</p>
        <h2>Technology and Philosophy</h2>
        <p>
            My primary interest lies in web technologies starting with server-side development
            and ending with delivering great user experience on a web frontend.
            I am an open source enthusiast and I especially like the NodeJS ecosystem. I like playing around
            with the awesome stuff going on in this crazy web area and want to share my thoughts, experiences and
            knowledge I gained on my way. Moreover I am a big fan of continuously providing high valuable software
            to customers and improving as a individual software developer and team each day. Therefore I am always
            eager to follow the rapidly evolving progress in Agile, Cloud Computing, Continuous Integration & Continuous
            Delivery.</p>
        <h2>Spare Time</h2>
        <p>
            When I am not sitting in front of my computer, I usually spend my time watching one of my
            dozen
            favorite sports in TV or being active outside myself. While I like hanging out with friends at one of the
            lakes
            nearby and playing Beach Volleyball during summer time, I go down the Austrian hills with my skies when the
            snow falls in Winter.
            Next to my interests in sport I am a member of the voluntary fire brigade in my home town.
        </p>
    </section>

    <h2>Contact</h2>
    <ul class="contact">
        <li><a href="mailto: {{site.email}}" title="Email" target="_blank"><i class="fa fa-envelope"></i> Email</a></li>
        <li><a href="{{site.github_account}}" title="Github Account" target="_blank"><i class="fa fa-github"></i> Github</a>
        </li>
        <li><a href="{{site.xing_account}}" title="Xing Account" target="_blank"><i class="fa fa-xing"></i> Xing</a>
        </li>
        <li><a href="{{site.linkedin_account}}" title="LinkedIn Account" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
        </li>
        <li><a href="{{site.twitter_account}}" title="Twitter Account" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
        <li>
            <a href="{{site.google_account}}" title="Google Plus Account" target="_blank"><i class="fa fa-google-plus"></i> Google</a>
        </li>
        <li><a href="{{site.facebook_account}}" title="Facebook Account" target="_blank"><i class="fa fa-facebook"></i>
            Facebook</a></li>
    </ul>
</div>