---
layout: default
---

{% if !site.posts %}
<article class="content-container">
    <h2>Welcome to my brandew tech blog!</h2>
    <section class="new-blog">
        This is the place where I would like to share my experiences, learnings and knowledge
        with the awesome stuff going on in the software technology world.
        <p style="margin-top: 20px">You caught me a bit too early so there are no blog posts yet.
            However, the first blog post is already in preparation and will be published soon.
        </p>
    </section>
</article>
{% endif %}

{% for post in site.posts %}
    <article class="content-container">
        <h2>{{ post.title }}</h2>
        <h3><i class="fa fa-calendar"></i> {{ post.date | date: "%B %-d, %Y" }}</h3>

        <div class="image-block">
            <a href="{{site.baseurl}}{{post.url}}" title="Open {{post.title}}">
                <img src="http://via.placeholder.com/250x200" alt="placeholder-img">
            </a>
        </div>
        <div class="text-block">
            {{ post.excerpt }}
            <a class="blog-button" href="{{site.baseurl}}{{post.url}}" title="Open {{post.title}}">Read more</a>
            <a class="blog-button" href="{{site.baseurl}}{{post.url}}" title="Open comments">Comments</a>
        </div>

        <div class="clear"></div>
    </article>

{% endfor %}