---
layout: default
---

{% for post in site.posts %}
    <article class="content-container">
        <h1>{{ post.title }}</h1>
        <div class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date: "%B %-d, %Y" }}</div>

        <div class="image-block">
            <a href="{{site.baseurl}}{{post.url}}" title="Open {{post.title}}">
                <img class="js-lazy-image" data-srcset="{{site.baseurl}}/assets/img/{{ post.date | date: "%Y-%m-%d"}}/main_500.jpg 1000w,
                             {{site.baseurl}}/assets/img/{{ post.date | date: "%Y-%m-%d"}}/main_400.jpg 500w,
                             {{site.baseurl}}/assets/img/{{ post.date | date: "%Y-%m-%d"}}/main_300.jpg 400w"
                     data-src="{{site.baseurl}}/assets/img/{{ post.date | date: "%Y-%m-%d"}}/main_500.jpg" />
            </a>
        </div>
        <div class="text-block">
            {{ post.excerpt }}
            <a class="blog-button" href="{{site.baseurl}}{{post.url}}" title="Open {{post.title}}">Read more</a>
            <a class="blog-button" href="{{site.baseurl}}{{post.url}}" title="Open comments">Comments</a>
        </div>

        <div class="clear"></div>
    </article>

{% endfor %}