---
layout: default
---

<article class="content-container">
    <h2 class="text-center">{{ page.title }}</h2>
    <h3 class="text-center">
        <i class="fa fa-calendar"></i> {{ page.date | date: "%B %-d, %Y" }}
        {% if page.comments %}
        <i class="fa fa-comments"></i><a href="{{ site.baseurl }}{{ page.url }}#disqus_thread"> Comment{% if page.comments != 1 %}s{% endif %}</a>
        {% endif %}
    </h3>
    <div>
        <img src="http://via.placeholder.com/800x450">
    </div>
    <p class="full-text">
        {{ content }}
    </p>
    <div>
        {% if page.previous %}
        <div class="pull-left">
            <a href="{{ site.baseurl }}{{ page.previous.url }}" title="Link to previous post">
                <div class="navigate-to-post">PREVIOUS</div>
                <div class="navigate-post-title">{{ page.previous.title }}</div>
            </a>
        </div>
        {% endif %}
        {% if page.next %}
        <div class="pull-right">
            <a href="{{ site.baseurl }}{{ page.next.url }}" title="Link to next post">
                <div class="navigate-to-post">NEXT</div>
                <div class="navigate-post-title">{{ page.next.title }}</div>
            </a>
        </div>
        {% endif %}
        {% if page.previous or page.next %}
        <div class="clear"></div>
        {% endif %}
    </div>
</article>

{% include disqus.html %}